$black: #1A1C1D;
$grey: #D3CFBE;
$baseColor: #232627;

.logo{
    width: 200px;
    color: $grey;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
}

.profile{
    width: 40px;
    height: 40px;
    background-color: cadetblue;
    border-radius: 50%;
}

.bg-darksedikit{
    background-color: $baseColor;
}

.menu{
    input{
        background-color: $black;
        padding: 8px;
        border: 0;
        border-radius: 5px 5px;
        color: $grey;
        outline: none;
    }

    .menu-list{
        margin-top: 15px;
        border-radius: 10px 10px;
        width: 100%;
        background-color: $black;
        padding-bottom: 30px;

        p, i, .category{
            color: $grey;
        }

        .category{
            table{
                border-collapse: collapse;

                td{
                    padding: 5px;
                    border-bottom: 0.1px solid grey;
                }
            }
        }
    }
}

.product{
    width: 100%;
    height: auto;
    background-color: $black;
    border-radius: 10px 10px;
    color: $grey;

    .food{
        width: 150px; 
    }

    .list-food{
        img{
            width: 100px;
        }

        tr:nth-child(even) {
            background: #232627;
        }
        
        tr:nth-child(odd) {
            background: #1F2123;
        }
    }
}

.checkout{
    width: 100%;
    min-height: 200px;
    background-color: $black;
    border-radius: 10px 10px;
    color: $grey;
}

.detail-checkout{
    color: $grey;
    border: 1px solid rgb(71, 71, 71);
}

.minPlus{
    background-color: transparent;
    border: 1px solid grey;
    color: $grey;
}

.fontmini{
    font-size: 14px;
}

textarea{
    background-color: transparent; 
    width: 100%; 
    color: $grey;
    padding: 10px;
    outline: none;
}

.modalLogin{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #151515c4;
    z-index: 10;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: grey;
    text-align: left;

    .login{
        width: 350px;
        height: auto;
        background-color: gainsboro;
        padding: 30px;
        border-radius: 20px 20px;
    }
}